:root {
  --main-font-color: #51473A;
}

body {
  background-color: #ffff;
}
#content {
  margin: 0px auto;
  height: 100%;
}
#header-banner {
  margin: 0px auto;
  height: 50vmin;
  background-image: url('toast.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
#title {
  margin: 0px;
  color: var(--main-font-color);
  opacity: 80%;
  font-family: 'Barlow', sans-serif;
}

#tabs-block {
  text-align: center;
}

#tabs-block button:focus {
  border-top: solid 2px #946a34;

}
#tabs-block button.active {
  color: var(--main-font-color);
  border-bottom: solid 2px var(--main-font-color);
}

#tabs-block button.active:hover {
  border-bottom: solid 2px #51473A;
}

#tabs-block button {
  display: inline;
  font-family: 'Barlow Condensed', sans-serif;
  margin: 20px;
  color: var(--main-font-color);;
  font-size: 26px;
  border: none;
  background: rgba(255, 255, 255, 0.74);
  outline: none;
}

#tabs-block button:hover {
  color: var(--main-font-color);
  cursor: pointer;
}

p {
font-family: 'Barlow Condensed', sans-serif;
font-size: 20px;
}

#main {
  margin: 0px auto;
  width: 70vmin;
  color: #51473abd;
}

#git-link {
  padding-right: 5px;

}

.menu-item-wrapper, .contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#links {
  color: var(--main-font-color);
  opacity: 50%;
  font-family: 'Barlow Condensed', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100vmin;
}

#links a {
  color: var(--main-font-color);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.74);;

}